---
import type { DocsEntry } from "@src/utils/routing/static-paths"
import { type BaseContentCollection } from "@schemas/collections/content/base"
import { getRelated } from "./posts/posts"

interface Props {
  entry: DocsEntry
}

const { entry } = Astro.props
const { relatedPosts } = entry.data as BaseContentCollection

const posts = await getRelated({
  relatedPosts,
  collections: [entry.collection],
})

const firstPost = posts.shift()
---

<section>
  <div
    class="py-16 mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8"
  >
    {
      firstPost && (
        <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
          <a href={`/${firstPost.collection}/${firstPost.slug}`}>
            <img
              class="h-auto max-w-lg rounded-lg"
              src={`/og/${firstPost.collection}-${firstPost.slug}.png`}
              alt={firstPost.data.title}
            />
          </a>

          <p class="mt-4 text-lg leading-8 text-gray-600 dark:text-gray-200">
            {firstPost.data.description}
          </p>
          <div class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col">
            <div class="flex">
              <a
                href={`/${firstPost.collection}/${firstPost.slug}`}
                class="text-sm font-semibold leading-6 text-accent-500"
                aria-describedby="featured-post"
              >
                Continue reading <span aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
        </article>
      )
    }

    <div
      class="mx-auto w-full max-w-2xl border-t border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0"
    >
      <div class="-my-7 divide-y divide-gray-900/10">
        {
          posts.map((post) => (
            <article class="py-4">
              <div class="group relative max-w-xl">
                <h2 class="font-display mt-2 text-lg font-semibold text-gray-900 dark:text-gray-100 group-hover:text-accent-300">
                  <a href={`/${post.collection}/${post.slug}`}>
                    <span class="absolute inset-0" />
                    {post.data.title}
                  </a>
                </h2>
                <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-gray-200">
                  {post.data.description}
                </p>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</section>
