---
import type { DocsEntry } from "@src/utils/routing/static-paths"
import { type BaseContentCollection } from "@schemas/collections/content/base"
import { fetchRepos } from "./repos/github"
import LanguageBadge from "@components/astro/ui/LanguageBadge.astro"

interface Props {
  entry: DocsEntry
}

const { entry } = Astro.props
const { relatedCode } = entry.data as BaseContentCollection
const repos = relatedCode ? await fetchRepos(relatedCode) : undefined
---

{
  repos && (
    <div class="py-8 mb-3 border-t border-gray-200 dark:border-gray-700 text-gray-800 dark:text-gray-200">
      <h2 class="font-display text-xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        Related Code
      </h2>
      <ul role="list" class="w-full max-w-screen-lg">
        {repos.map((repo) => (
          <li class="flex items-center justify-between gap-x-6 py-5">
            <div class="min-w-0">
              <div class="flex gap-x-3 items-center">
                <p class="text-sm font-semibold leading-6">
                  <a href={repo.url}>{repo.full_name}</a>
                </p>
              </div>
              <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                <p class="flex space-x-2.5">
                  {repo.languages.slice(0, 3).map((language) => (
                    <LanguageBadge language={language} />
                  ))}
                </p>
                <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                  <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="truncate">{repo.description}</p>
              </div>
            </div>
            <div class="flex flex-none items-center gap-x-4">
              <a
                href={repo.url}
                class="inline-flex items-center justify-center p-2 text-xs font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              >
                View repo<span class="sr-only">, {repo.name}</span>
                <svg
                  class="ml-2 -mr-1 w-5 h-5 text-gray-300 dark:text-gray-600"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 256 256"
                >
                  <path
                    fill="currentColor"
                    d="m220.24 132.24l-72 72a6 6 0 0 1-8.48-8.48L201.51 134H40a6 6 0 0 1 0-12h161.51l-61.75-61.76a6 6 0 0 1 8.48-8.48l72 72a6 6 0 0 1 0 8.48"
                  />
                </svg>
              </a>
            </div>
          </li>
        ))}
      </ul>
    </div>
  )
}
