---
import Navbar from "@components/astro/Navbar.astro"
import Sidebar from "@components/astro/sidebar/Sidebar.astro"
import Breadcrumbs from "@components/astro/breadcrumbs/Breadcrumbs.astro"
import Aside from "@components/astro/aside/Aside.astro"
import RelatedRepos from "@components/astro/article/related/RelatedRepos.astro"
import ArticleHeader from "@components/astro/article/ArticleHeader.astro"
import RelatedPosts from "@components/astro/article/related/RelatedPosts.astro"
import RelatedResources from "@components/astro/article/related/RelatedResources.astro"
import RelatedVideos from "@components/astro/article/related/RelatedVideos.astro"
import NextAndPrevLinks from "@components/astro/article/pagination/NextAndPrevLinks.astro"
import { type BaseContentCollection } from "@schemas/collections/content/base"
import { config } from "@config/config"
import { SEO } from "astro-seo"

import {
  populateOpenGraphTags,
  populateTwitterTags,
  populateExtendLinks,
  populateExtendMeta,
} from "@src/utils/seo"

import { getImage } from "astro:assets"
import faviconSrc from "../assets/icons/favicon.png"
import faviconSvgSrc from "../assets/icons/favicon.svg"

import type { Path, DocsEntry } from "@src/utils/routing/static-paths"

type Props = {
  entry: DocsEntry
  paths: Path<DocsEntry>[]
}

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: "png",
})
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" })

const { entry } = Astro.props
const data = entry.data as BaseContentCollection
const { headings } = await entry.render()
---

<!doctype html>
<html lang="en" class="hidden scroll-pt-32 scroll-smooth">
  <head>
    <SEO
      charset="UTF-8"
      titleTemplate={"%s — " + config.seo.SITE_NAME}
      title={data.title}
      canonical={data.canonical}
      noindex={data.seo?.noindex}
      nofollow={data.seo?.nofollow}
      description={data.description}
      openGraph={populateOpenGraphTags(entry, Astro.url.origin)}
      twitter={populateTwitterTags(entry, Astro.url.origin)}
      extend={{
        link: populateExtendLinks(entry, [
          { rel: "icon", href: faviconSvg.src, type: "image/svg+xml" },
          { rel: "apple-touch-icon", href: appleTouchIcon.src },
          { rel: "preconnect", href: "https://fonts.googleapis.com" },
          { rel: "preconnect", href: "https://fonts.gstatic.com" },
          {
            rel: "stylesheet",
            href: "https://fonts.googleapis.com/css2?family=Sedan+SC&family=Unbounded:wght@200..900&display=swap",
          },
        ]),
        meta: populateExtendMeta(entry, [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
        ]),
      }}
    />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <div class="bg-gray-50 antialiased dark:bg-gray-900">
      <Navbar />
      <Sidebar {...Astro.props} />
      <Breadcrumbs {...Astro.props} />

      <main class="bg-gray-50 pt-20 md:ml-64 lg:mr-64 dark:bg-gray-900">
        <div class="p-5">
          <ArticleHeader data={data} />

          <div
            class="relative mx-2 md:mx-4 lg:mx-8 z-20 flex max-w-screen-lg justify-between rounded bg-white px-4 pt-8 dark:bg-gray-800"
          >
            <article id="main-article-wrapper" class="w-full scroll-mt-20">
              <div class="mb-4 pb-3 lg:mb-8">
                <div
                  class="max-w-screen-lg format format-sm format-blue sm:format-base lg:format-lg dark:format-invert dark:text-gray-100"
                >
                  <article>
                    <slot />
                  </article>
                </div>

                <RelatedRepos {...Astro.props} />
                <RelatedResources {...Astro.props} />
                <RelatedVideos {...Astro.props} />
              </div>
            </article>
          </div>
        </div>

        <NextAndPrevLinks {...Astro.props} />

        <div
          class="mx-auto max-w-screen-xl rounded bg-white px-4 py-6 dark:bg-gray-800"
        >
          <RelatedPosts {...Astro.props} />
        </div>
      </main>

      <Aside headings={headings} {...Astro.props} />

      <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
      ></script>
    </div>
  </body>
</html>
